<form  action="/crear-tarea" method="post">
    <div class="form-group">
        <input type="text" name="contenido_tarea" placeholder="Tarea" class="form-control my-2" required>
        <input type="text" name="categoria_tarea" placeholder="Categoria" class="form-control my-2" required>
        <input type="datetime-local" name="fecha_tarea" class="form-control" required>
        <button type="submit" class="mt-2 btn btn-primary btn-block">
            Guardar
        </button>
    </div>   
</form>